In [6]:
# List
l1=['banana','cheery','apple']
l1

['banana', 'cheery', 'apple']

In [4]:
l=[True,23,'string']
l

[True, 23, 'string']

In [5]:
# reverse index
l[-2]

23

In [7]:
if 'banana' in l1:
    print('yes')
else:
    print('no')

yes

In [8]:
len(l)

3

In [11]:
l1.append('lemon')

In [12]:
l1

['banana', 'cheery', 'apple', 'lemon']

In [13]:
l1.insert(0,'griph')

In [14]:
l1

['griph', 'banana', 'cheery', 'apple', 'lemon']

In [16]:
l1.pop(0)

'griph'

In [17]:
l1

['banana', 'cheery', 'apple', 'lemon']

In [18]:
l1.remove('cheery')

In [19]:
l1

['banana', 'apple', 'lemon']

In [20]:
l1.clear()

In [21]:
l1

[]

In [22]:
l1=['banana','cheery','apple']
l1.reverse()

In [23]:
l1

['apple', 'cheery', 'banana']

In [24]:
l1.sort()

In [25]:
l1

['apple', 'banana', 'cheery']

In [26]:
l2=[2,456,-1,324]
l2.sort()

In [27]:
l2

[-1, 2, 324, 456]

In [28]:
l4=[0]*5

In [29]:
l4

[0, 0, 0, 0, 0]

In [32]:
l2+l4

[-1, 2, 324, 456, 0, 0, 0, 0, 0]

In [33]:
# slicing
l3=[1,2,3,4,5,6,7,8,9]
l3[4:9]

[5, 6, 7, 8, 9]

In [34]:
l3[1:]

[2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
l3[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
l3[::2]

[1, 3, 5, 7, 9]

In [38]:
lc=l1

In [40]:
lc

['apple', 'banana', 'cheery']

In [41]:
lc.append('fish')

In [42]:
lc

['apple', 'banana', 'cheery', 'fish']

In [43]:
l1

['apple', 'banana', 'cheery', 'fish']

In [44]:
id(l1)==id(lc)# memory location is same

True

In [45]:
lco=l1.copy()

In [46]:
lco.append('dish')

In [47]:
lco

['apple', 'banana', 'cheery', 'fish', 'dish']

In [48]:
l1

['apple', 'banana', 'cheery', 'fish']

In [49]:
id(l1)==id(lco)# memory location is different

False

In [50]:
lk=[i**2 for i in l3]

In [52]:
print(l3)
lk

[1, 2, 3, 4, 5, 6, 7, 8, 9]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [53]:
# tuples
t=('max',28,'boston')

In [54]:
type(t)

tuple

In [55]:
t=('kill')

In [56]:
type(t)

str

In [57]:
t=('max',28,'boston')

In [60]:
t[2]

'boston'

In [61]:
t[1]=0  # immutable

TypeError: 'tuple' object does not support item assignment

In [62]:
for i in t:
    print(i)

max
28
boston

In [63]:
if 'max' in t:
    print('yes')
else:
    print('no')

yes

In [64]:
len(t)

3

In [66]:
t1=('a','p','p','l','e')

In [68]:
l3.count(3)

1

In [69]:
t1.count('p')

2

In [70]:
t1.index('l')

3

In [71]:
t1=list(t1)

In [72]:
t1

['a', 'p', 'p', 'l', 'e']

In [73]:
t1=tuple(t1)

In [74]:
t1[2:7]

('p', 'l', 'e')

In [75]:
t1[::3]

('a', 'l')

In [76]:
t1[::-1]

('e', 'l', 'p', 'p', 'a')

In [77]:
t1[::-3]

('e', 'p')

In [78]:
# unpacking 
name,age,city=t

In [79]:
t

('max', 28, 'boston')

In [80]:
name

'max'

In [82]:
age

28

In [83]:
city

'boston'

In [84]:
t2=tuple(l3)

In [85]:
t2

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [86]:
i1, i2, i3, i4, i5, i6, i7, i8, i9=t2

In [87]:
i1

1

In [88]:
i4

4

In [92]:
lc

['apple', 'banana', 'cheery', 'fish']

In [93]:
t=('shahid',23,0,0)
l=['shahid',23,0,0]

In [95]:
import sys
print(sys.getsizeof(t))
sys.getsizeof(l)

72

120

In [96]:
# time can by list and tuple
import timeit
print(timeit.timeit(stmt="[23,23,14,0]",number=10000000))
print(timeit.timeit(stmt="(23,23,14,0)",number=10000000))

0.5929984999966109
0.11764229999971576

In [97]:
# tuple is fast then list

In [99]:
# dictionaries
d={'name':'shahid','age':23,'city':'nagpur'}
d['age']

23

In [100]:
d['friend']='rohan'

In [101]:
d

{'name': 'shahid', 'age': 23, 'city': 'nagpur', 'friend': 'rohan'}

In [102]:
d['friend']='kamran'

In [103]:
d

{'name': 'shahid', 'age': 23, 'city': 'nagpur', 'friend': 'kamran'}

In [104]:
del d['age']

In [105]:
d

{'name': 'shahid', 'city': 'nagpur', 'friend': 'kamran'}

In [106]:
d.pop('city')

'nagpur'

In [107]:
d

{'name': 'shahid', 'friend': 'kamran'}

In [108]:
d.popitem()

('friend', 'kamran')

In [111]:
d={'name':'shahid','age':23,'city':'nagpur'}

In [112]:
try:
    print(d['akl'])
except Exception as e:
    print(e)

'akl'

In [115]:
for i in d:
    print(i)

name
age
city

In [116]:
for i in d.values():
    print(i)

shahid
23
nagpur

In [117]:
dc=d
dc['email']='shahidazad@'
print(d)
print(dc)

{'name': 'shahid', 'age': 23, 'city': 'nagpur', 'email': 'shahidazad@'}
{'name': 'shahid', 'age': 23, 'city': 'nagpur', 'email': 'shahidazad@'}

In [118]:
dc=d.copy()
dc['adhar card']='56454'
print(d)
print(dc)

{'name': 'shahid', 'age': 23, 'city': 'nagpur', 'email': 'shahidazad@'}
{'name': 'shahid', 'age': 23, 'city': 'nagpur', 'email': 'shahidazad@', 'adhar card': '56454'}

In [119]:
d.update(dc)

In [120]:
d

{'name': 'shahid',
 'age': 23,
 'city': 'nagpur',
 'email': 'shahidazad@',
 'adhar card': '56454'}

In [121]:
s={'name':'lan'}

In [122]:
d.update(s)

In [123]:
d

{'name': 'lan',
 'age': 23,
 'city': 'nagpur',
 'email': 'shahidazad@',
 'adhar card': '56454'}

In [124]:
# can can't use list as keyin dict
d={[23,4]:0}

TypeError: unhashable type: 'list'

In [125]:
# sets
s={2,3,5,6}
s

{2, 3, 5, 6}

In [128]:
s={2,2,2,3,3,3,6,6,6,6}

In [130]:
s={}
type(s)

dict

In [131]:
s={2,}
type(s)

set

In [132]:
s.add(3)
s.add(8)

In [133]:
s

{2, 3, 8}

In [134]:
s.pop()

8

In [135]:
s

{2, 3}

In [136]:
a={786,12,4,3,2,-1}

In [137]:
a

{-1, 2, 3, 4, 12, 786}

In [138]:
a.pop()

2

In [139]:
a

{-1, 3, 4, 12, 786}

In [140]:
# index not allow
a[1]

TypeError: 'set' object is not subscriptable

In [141]:
for i in a:
    print(i)

3
4
786
12
-1

In [142]:
a

{-1, 3, 4, 12, 786}

In [143]:
a

{-1, 3, 4, 12, 786}

In [144]:
if 786 in a:
    print('yes')

yes

In [146]:
if 2 in a:
    print('yes')
elif 2 not in a:
    print('no')

no

In [147]:
odd={1,3,5,7,9}
even={0,2,4,6,8}
prime={2,3,5,7}
print(odd | even)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [149]:
print(odd & prime)

{3, 5, 7}

In [152]:
print(even ^ prime)

{0, 3, 4, 5, 6, 7, 8}

In [153]:
print(even-odd)

{0, 2, 4, 6, 8}

In [154]:
print(prime-odd)

{2}

In [155]:
odd.update(even)

In [156]:
odd

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [158]:
print(odd.issubset(even))

False

In [159]:
print(even.issubset(odd))

True

In [160]:
nat={0,1,2,3,4,5,6,7,8,9}
odd={1,3,5,7,9}

In [161]:
print(odd.issubset(nat))

True

In [162]:
print(nat.issuperset(even))

True

In [163]:
print(nat.issuperset(odd))

True

In [164]:
print(nat.isdisjoint(even))

False

In [165]:
d={99,88,66}
print(nat.isdisjoint(d))

True

In [166]:
nat.add(10)

In [167]:
nat

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [169]:
q={45673,2,'jim','shahid ',23}

In [170]:
q=frozenset()

In [171]:
q

frozenset()

In [172]:
print(q)

frozenset()

In [173]:
q.add(2)

AttributeError: 'frozenset' object has no attribute 'add'

In [174]:
q=frozenset({45673,2,'jim','shahid ',23})

In [175]:
q

frozenset({2, 23, 45673, 'jim', 'shahid '})

In [176]:
q.add(0)  # frozenset immutable

AttributeError: 'frozenset' object has no attribute 'add'

In [177]:
nat[:] # slicing not allow

TypeError: 'set' object is not subscriptable

In [2]:
#string
s="hello world"
print(s)

hello world

In [3]:
s="hello\n world"
print(s)

hello
 world

In [4]:
s[2]

'l'

In [5]:
s[-1]

'd'

In [6]:
s[3:]

'lo\n world'

In [7]:
s[3:6]

'lo\n'

In [8]:
s[::1]

'hello\n world'

In [9]:
s[::3]

'hl r'

In [13]:
s1='how are you'
print(s1+' '+s)

how are you hello
 world

In [15]:
for i in s1:
    print(i)

h
o
w

a
r
e

y
o
u

In [18]:
if 'e' in s1:
    print('yes')

yes

In [19]:
s2='   hello world   '
s2

'   hello world   '

In [20]:
s2.strip()

'hello world'

In [21]:
s2.rstrip()

'   hello world'

In [23]:
s2.lstrip()

'hello world   '

In [24]:
s2.upper()

'   HELLO WORLD   '

In [25]:
s2.startswith('af')

False

In [26]:
s2.startswith('hell')

False

In [28]:
s2.find('r')

11

In [29]:
s2.startswith('  ')

True

In [30]:
s2.find('o')

7

In [32]:
s2.find('o',8)

10

In [33]:
s2.count('e')

1

In [34]:
s2.count('o')

2

In [35]:
s2.replace(' ','%')

'%%%hello%world%%%'

In [36]:
s2.replace(' ','*')

'***hello*world***'

In [37]:
s2.split()

['hello', 'world']

In [38]:
s2.split('o')

['   hell', ' w', 'rld   ']

In [39]:
' and '.join(s2.split('o'))

'   hell and  w and rld   '

In [40]:
' # '.join(s2.split('o'))

'   hell #  w # rld   '

In [41]:
l=['a'] *5

In [42]:
l

['a', 'a', 'a', 'a', 'a']

In [45]:
d='key' *3

In [46]:
d

'keykeykey'

In [48]:
# without using join method
m=''
for i in l:
    m+=i
print(m)

aaaaa

In [49]:
m=''.join(l)

In [50]:
m

'aaaaa'

In [54]:
from timeit import default_timer as timer
start=timer()
for i in range(8):
    continue
stop=timer()
print(start-stop)

-7.300000288523734e-05

In [57]:
# format and f string
var='Tom'
w=23.8798
s=f'the variable is {w:.4f}'

In [58]:
s

'the variable is 23.8798'

In [62]:
var='Tom'
w=345.8998
s='the variable is {}'.format(w*6)

In [63]:
s

'the variable is 2075.3988'

In [64]:
s=f'the variable is {w:.4f} and {w*2:.1f}'

In [65]:
s

'the variable is 345.8998 and 691.8'

In [66]:
s='the variable is {:.4f} and {:.1f}'.format(w,3*w)

In [67]:
s

'the variable is 345.8998 and 1037.7'

In [2]:
# Counter
from  collections import Counter
a='wwwlllccccdddddddddddd'
Counter(a)

Counter({'w': 3, 'l': 3, 'c': 4, 'd': 12})

In [3]:
d=Counter(a)

In [4]:
d.values()

dict_values([3, 3, 4, 12])

In [5]:
d.most_common(2)

[('d', 12), ('c', 4)]

In [6]:
d.most_common(2)[0]

('d', 12)

In [8]:
d.most_common(3)[0][0]

'd'

In [11]:
list(d.elements())

['w',
 'w',
 'w',
 'l',
 'l',
 'l',
 'c',
 'c',
 'c',
 'c',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd']

In [10]:
d

Counter({'w': 3, 'l': 3, 'c': 4, 'd': 12})

In [13]:
from collections import namedtuple
point=namedtuple('Point','x,y')
pt=point(1,-4)
print(pt.x,pt.y)

1 -4

In [14]:
from collections import OrderedDict
O_d=OrderedDict()
O_d['a']=1
O_d['b']=2
O_d['c']=3
O_d['d']=4
print(O_d)

OrderedDict([('a', 1), ('b', 2), ('c', 3), ('d', 4)])

In [15]:
O_d=OrderedDict()
O_d['d']=4
O_d['a']=1
O_d['b']=2
O_d['c']=3

print(O_d)

OrderedDict([('d', 4), ('a', 1), ('b', 2), ('c', 3)])

In [19]:
O_d={}
O_d['d']=4
O_d['a']=1
O_d['b']=2
O_d['c']=3
print(O_d)

{'d': 4, 'a': 1, 'b': 2, 'c': 3}

In [20]:
from collections import defaultdict
d=defaultdict(int)
d['a']=1
d['b']=2
print(d['c'])

0

In [21]:
d['i']

0

In [22]:
from collections import defaultdict
d=defaultdict(float)
d['a']=1
d['b']=2
print(d['c'])

0.0

In [23]:
d={}
d['a']=1
d['b']=2
print(d['c'])

KeyError: 'c'

In [24]:
from collections import deque
d=deque()
d.append(1)
d.append(2)
d.append(3)
print(d)

deque([1, 2, 3])

In [25]:
d.appendleft(6)

In [26]:
d

deque([6, 1, 2, 3])

In [28]:
d.pop()
d

deque([6, 1])

In [29]:
d=deque()
d.append(1)
d.append(2)
d.append(3)
print(d)
d.popleft()

deque([1, 2, 3])

1

In [30]:
d

deque([2, 3])

In [31]:
d.extendleft([3,4,5])

In [32]:
d

deque([5, 4, 3, 2, 3])

In [34]:
d.rotate(1)
d

deque([3, 5, 4, 3, 2])

In [35]:
d.rotate(3)
d

deque([4, 3, 2, 3, 5])

In [37]:
# itertools
from itertools import permutations
a=[1,2,3]
per=permutations(a)
list(per)

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

In [40]:
from itertools import combinations
a=[1,2,3]
per=combinations(a,2)
list(per)

[(1, 2), (1, 3), (2, 3)]

In [42]:
a=[1,2,3,4,5,6]
per=combinations(a,3)
list(per)

[(1, 2, 3),
 (1, 2, 4),
 (1, 2, 5),
 (1, 2, 6),
 (1, 3, 4),
 (1, 3, 5),
 (1, 3, 6),
 (1, 4, 5),
 (1, 4, 6),
 (1, 5, 6),
 (2, 3, 4),
 (2, 3, 5),
 (2, 3, 6),
 (2, 4, 5),
 (2, 4, 6),
 (2, 5, 6),
 (3, 4, 5),
 (3, 4, 6),
 (3, 5, 6),
 (4, 5, 6)]

In [43]:
a=[1,2,3]
per=permutations(a,2)
list(per)

[(1, 2), (1, 3), (2, 1), (2, 3), (3, 1), (3, 2)]

In [44]:
# lambda fuction
a=lambda x:x+10
print(a(3))

13

In [46]:
a=lambda x,y: x+y
a(234,1)

235

In [47]:
pt=[(1,2),(9,8),(4,5)]
pts=sorted(pt,key=lambda x:x[0]+x[1])
print(pts)

[(1, 2), (4, 5), (9, 8)]

In [2]:
# map function
a=[1,2,3,4,5]
b=map(lambda x:x*2,a)
list(b)

[2, 4, 6, 8, 10]

In [5]:
c=[x*2 for x in a]
c

[2, 4, 6, 8, 10]

In [7]:
# filter
b=filter(lambda x:x%2==0,a)
list(b)

[2, 4]

In [8]:
x=5
if x<0:
    raise Exception('positive number')

In [9]:
x=-5
if x<0:
    raise Exception('positive number')

Exception: positive number

In [12]:
# try except
try:
    a=6/0
except Exception as e:
    print(e)
finally:
    print('done')

division by zero
done

In [13]:
try:
    a = 5 / 0
except Exception as e:
    print(e)
    

try:
    a = 5 / 0
except ZeroDivisionError:
    print('Only a ZeroDivisionError is handled here')
    

try:
    a = 5 / 1 
    b = a + '10'
except ZeroDivisionError as e:
    print('A ZeroDivisionError occured:', e)
except TypeError as e:
    print('A TypeError occured:', e)

division by zero
Only a ZeroDivisionError is handled here
A TypeError occured: unsupported operand type(s) for +: 'float' and 'str'

In [19]:
# ImportError
# import nonexistingmodule


with open('nonexistingfile.txt') as f:
    read_data = f.read()


a = [0, 1, 2]
a.remove(3)


a = 5 + "10"


a = [0, 1, 2]
value = a[5]

my_dict = {"name": "Max", "city": "Boston"}
age = my_dict["age"]

In [14]:

class ValueTooHighError(Exception):
    pass


class ValueTooLowError(Exception):
    def __init__(self, message, value):
        self.message = message
        self.value = value

def test_value(a):
    if a > 1000:
        raise ValueTooHighError('Value is too high.')
    if a < 5:
        raise ValueTooLowError('Value is too low.', a) # Note that the constructor takes 2 arguments here
    return a

try:
    test_value(1)
except ValueTooHighError as e:
    print(e)
except ValueTooLowError as e:
    print(e.message, 'The value is:', e.value)

Value is too low. The value is: 1

In [ ]:
# logging

In [15]:
import logging
logging.debug('This is a debug message')

logging.info('This is an info message')

logging.warning('This is a warning message')
logging.error('This is an error message')
logging.critical('This is a critical message')

WARNING:root:This is a warning message
ERROR:root:This is an error message
CRITICAL:root:This is a critical message

In [16]:
import logging
logger = logging.getLogger(__name__)
logger.propagate = False
logger.info('HELLO')

In [17]:
import logging

logger = logging.getLogger(__name__)


stream_handler = logging.StreamHandler()
file_handler = logging.FileHandler('file.log')


stream_handler.setLevel(logging.WARNING) 
file_handler.setLevel(logging.ERROR) 

stream_format = logging.Formatter('%(name)s - %(levelname)s - %(message)s')
file_format = logging.Formatter('%(asctime)s - %(name)s - %(levelname)s - %(message)s')
stream_handler.setFormatter(stream_format)
file_handler.setFormatter(file_format)


logger.addHandler(stream_handler)
logger.addHandler(file_handler)

logger.warning('This is a warning')
logger.error('This is an error')

__main__ - WARNING - This is a warning
__main__ - ERROR - This is an error

In [20]:
import logging
import traceback

try:
    a = [1, 2, 3]
    value = a[3]
except:
    logging.error("uncaught exception: %s", traceback.format_exc())

ERROR:root:uncaught exception: Traceback (most recent call last):
  File "C:\Users\USER\AppData\Local\Temp\ipykernel_12280\3253098238.py", line 6, in <cell line: 4>
    value = a[3]
IndexError: list index out of range

In [21]:
import logging
from logging.handlers import RotatingFileHandler

logger = logging.getLogger(__name__)
logger.setLevel(logging.INFO)

# roll over after 2KB, and keep backup logs app.log.1, app.log.2 , etc.
handler = RotatingFileHandler('app.log', maxBytes=2000, backupCount=5)
logger.addHandler(handler)

for _ in range(10000):
    logger.info('Hello, world!')

In [22]:
# JSON
import json

person = {"name": "John", "age": 30, "city": "New York", "hasChildren": False, "titles": ["engineer", "programmer"]}

person_json = json.dumps(person)

person_json2 = json.dumps(person, indent=4, separators=("; ", "= "), sort_keys=True)

print(person_json) 
print(person_json2)

{"name": "John", "age": 30, "city": "New York", "hasChildren": false, "titles": ["engineer", "programmer"]}
{
    "age"= 30;
    "city"= "New York";
    "hasChildren"= false;
    "name"= "John";
    "titles"= [
        "engineer";
        "programmer"
    ]
}

In [23]:
import json
def encode_complex(z):
    if isinstance(z, complex):
        # just the key of the class name is important, the value can be arbitrary.
        return {z.__class__.__name__: True, "real":z.real, "imag":z.imag}
    else:
        raise TypeError(f"Object of type '{z.__class__.__name__}' is not JSON serializable")

z = 5 + 9j
zJSON = json.dumps(z, default=encode_complex)
print(zJSON)

{"complex": true, "real": 5.0, "imag": 9.0}

In [ ]:
# Random Numbers